SPRING_DATASOURCE_URL="jdbc:postgresql://localhost:5433/chessarbiter"
SPRING_DATASOURCE_USERNAME="postgres"
SPRING_DATASOURCE_PASSWORD="postgres"
AUTH_SECRET="replace-with-at-least-32-random-characters"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="change-me"
